{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock %}

{% block title %}
Руднево - Вход
{% endblock %}

{% block body %}
<div class="container">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/mos-obr.svg') }}" alt="Московское Образовние"
            class="logo__mos-obr">
        <img src="{{ url_for('static', filename='images/rudnevo.svg') }}" alt="Руднево" class="logo__rudnevo">
    </div>
    <div class="form-container">
        <form action="{{ url_for('auth.login') }}" method="POST" class="login-form">
            <input type="text" placeholder="Имя пользователя или эл. почта" name="username" value="" required>
            <div class="password-wrapper">
                <input type="password" placeholder="Пароль" name="password" id="passwordInput" required>
                <button type="button" class="show-password" onclick="togglePassword()">
                    <i class="fa-regular fa-eye" id="toggleIcon"></i>
                </button>
            </div>
            <button type="submit" class="submit">Войти</button>
        </form>
        <a href="{{ url_for('auth.forgot_password') }}">Забыли пароль?</a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}