{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/reset_password.css') }}">
{% endblock %}

{% block title %}
Руднево - Сброс пароля
{% endblock %}

{% block body %}
<div class="container">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/mos-obr.svg') }}" alt="Московское Образовние"
            class="logo__mos-obr">
        <img src="{{ url_for('static', filename='images/rudnevo.svg') }}" alt="Руднево" class="logo__rudnevo">
    </div>
    <div class="form-container">
        <form action="{{ url_for('auth.reset_password') }}" method="POST" class="login-form">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="password" placeholder="Новый пароль" name="new_password" id="passwordInput" required>
            <input type="password" placeholder="Подтвердите пароль" name="confirm-password" id="confirmPasswordInput"
                required>
            <button type="submit" class="submit">Сменить пароль</button>
        </form>
        <a href="{{ url_for('auth.login') }}">Войти</a>
    </div>
</div>
{% endblock %}